<md-sidenav-container>
  <md-sidenav align="end" mode="side" #sidenav>
    <md-tab-group>
      <md-tab>
        <ng-template md-tab-label>Details</ng-template>
        <ng-template md-tab-content>
          <p>Name: {{currentDog.name}}</p>
          <p>Human: {{currentDog.human}}</p>
          <p>Age: {{currentDog.age}}</p>
          <button md-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>
        </ng-template>
      </md-tab>
      <md-tab>
        <ng-template md-tab-label>Feed</ng-template>
        <ng-template md-tab-content></ng-template>
      </md-tab>
    </md-tab-group>
  </md-sidenav>
</md-sidenav-container>