<!--
<h1 md-dialog-title>Choose Login Method</h1>

<md-dialog-actions class="flex-container" 
                   fxLayout="column"
                   fxLayoutAlign="space-around">
  <button class="flex-item" md-raised-button md-dialog-close color="primary" (click)="googleLogin()">Google</button>
  <button class="flex-item" md-raised-button md-dialog-close color="primary" (click)="fbLogin()">facebook</button>
  <button class="flex-item" md-raised-button md-dialog-close color="primary" (click)="twitterLogin()">Twitter</button>
  <button class="flex-item" md-raised-button md-dialog-close color="primary" (click)="githubLogin()">Github</button>
  <button class="flex-item" md-raised-button md-dialog-close color="primary" (click)="passwordLogin()">Email/Password</button>
</md-dialog-actions>

<md-dialog-actions>
  <button md-dialog-close>Cancel</button>
</md-dialog-actions>
-->

<!--
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <div class="card card-signup">
          <div class="header header-primary text-center">
            <h4>Sign Up</h4>
            <div class="social-line">
              <a href="#pablo" class="btn btn-simple btn-just-icon">
                <i class="fa fa-facebook-square"></i>
              </a>
              <a href="#pablo" class="btn btn-simple btn-just-icon">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#pablo" class="btn btn-simple btn-just-icon">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
          <p class="text-divider">Or Be Classical</p>
          <div class="content">

            <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
              <input type="text" class="form-control" placeholder="First Name...">
            </div>

            <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
              <input type="text" class="form-control" placeholder="Email...">
            </div>

            <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
              <input type="password" placeholder="Password..." class="form-control" />
            </div>

            <div class="checkbox">
              <label>
                <input type="checkbox" name="optionsCheckboxes" checked>
                Subscribe to newsletter
              </label>
            </div>
          </div>
          <div class="footer text-center">
            <a href="#pablo" class="btn btn-simple btn-primary btn-lg">Get Started</a>
          </div>
      </div>
    </div>

    -->

<!--   Big container   -->

      <!--      Wizard container        -->
          <!-- <form action="" method=""> -->
            <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

<div class="wizard-header">
  <h3>
    Become a personal
  </h3>
  <p>This information will let us know more about you.</p>
</div>


<md-tab-group>
  <md-tab>
    <ng-template md-tab-label>
      Login Details
    </ng-template>

    <form #form="ngForm" (ngSubmit)="submitForm(form.value)">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="Company (disabled)" disabled value="Google">
      </md-input-container>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="First name">
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="Long Last Name That Will Be Truncated">
        </md-input-container></td>
      </tr></table>

      <p>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Address">1600 Amphitheatre Pkwy</textarea>
        </md-input-container>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Address 2"></textarea>
        </md-input-container>
      </p>

      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="City">
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="State">
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
          <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
        </md-input-container></td>
      </tr></table>
    </form>

  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <md-icon>thumb_down</md-icon> The worst sushi
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
  </md-tab>
</md-tab-group>


            <div class="wizard-navigation">
              <ul class="nav nav-pills">
                <li class="active"><a href="#details" data-toggle="tab">Account</a></li>
                <li><a href="#captain" data-toggle="tab">Room Type</a></li>
                <li><a href="#description" data-toggle="tab">Extra Details</a></li>
              </ul>
            </div>

            <div class="tab-content">
              <div class="tab-pane" id="details">
                <div class="row">
                  <div class="col-sm-12">
                    <h4 class="info-text"> Let's start with the basic details.</h4>
                  </div>
                  <div class="col-sm-6">
                    <div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">email</i>
													</span>
                      <div class="form-group label-floating">
                        <label class="control-label">Your Email</label>
                        <input name="name" type="text" class="form-control">
                      </div>
                    </div>

                    <div class="input-group">
													<span class="input-group-addon">
														<i class="material-icons">lock_outline</i>
													</span>
                      <div class="form-group label-floating">
                        <label class="control-label">Your Password</label>
                        <input name="name2" type="password" class="form-control">
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Country</label>
                      <select class="form-control">
                        <option disabled="" selected=""></option>
                        <option value="Afghanistan"> Afghanistan </option>
                        <option value="Albania"> Albania </option>
                        <option value="Algeria"> Algeria </option>
                        <option value="American Samoa"> American Samoa </option>
                        <option value="Andorra"> Andorra </option>
                        <option value="Angola"> Angola </option>
                        <option value="Anguilla"> Anguilla </option>
                        <option value="Antarctica"> Antarctica </option>
                        <option value="...">...</option>
                      </select>
                    </div>
                    <div class="form-group label-floating">
                      <label class="control-label">Daily Budget</label>
                      <select class="form-control">
                        <option disabled="" selected=""></option>
                        <option value="Afghanistan"> < $100 </option>
                        <option value="Albania"> $100 - $499 </option>
                        <option value="Algeria"> $499 - $999 </option>
                        <option value="American Samoa"> $999+ </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="captain">
                <h4 class="info-text">What type of room would you want? </h4>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-4">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="This is good if you travel alone.">
                        <input type="radio" name="job" value="Design">
                        <div class="icon">
                          <i class="material-icons">weekend</i>
                        </div>
                        <h6>Single</h6>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this room if you're traveling with your family.">
                        <input type="radio" name="job" value="Code">
                        <div class="icon">
                          <i class="material-icons">home</i>
                        </div>
                        <h6>Family</h6>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Select this option if you are coming with your team.">
                        <input type="radio" name="job" value="Code">
                        <div class="icon">
                          <i class="material-icons">business</i>
                        </div>
                        <h6>Business</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="description">
                <div class="row">
                  <h4 class="info-text"> Drop us a small description.</h4>
                  <div class="col-sm-6 col-sm-offset-1">
                    <div class="form-group">
                      <label>Room description</label>
                      <textarea class="form-control" placeholder="" rows="6"></textarea>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label class="control-label">Example</label>
                      <p class="description">"The room really nice name is recognized as being a really awesome room. We use it every sunday when we go fishing and we catch a lot. It has some kind of magic shield around it."</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wizard-footer">
              <div class="pull-right">
                <button md-button class='btn btn-next btn-danger' name='next'> Next </button>
                <input type='button' class='btn btn-finish btn-danger' name='finish' value='Finish' />
              </div>
              <div class="pull-left">
                <button md-button class="btn btn-primary btn-previous" name='previous' value='Previous'>
                  Previous
                </button>

                <!-- <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' /> -->

                <div class="footer-checkbox">
                  <div class="col-sm-12">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="optionsCheckboxes">
                      </label>
                      Subscribe to our newsletter
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          <!-- </form>  -->
