<section class="home">
  <div class="wrapper">
  </div>
</section>

<section class="cta">
  <div class="wrapper">
    <div class="col-md-6 col-xs-12">
      <article>
        <i class="material-icons">person</i>
        <h2>Register to be part of personal trainers team</h2>
        <button md-button class="btn btn-primary">
          Become personal
        </button>
      </article>
    </div>
    <div class="col-md-6 col-xs-12">
      <article>
        <i class="material-icons">person</i>
        <h2>Register to use</h2>
      </article>
    </div>
  </div>
</section>