<md-toolbar>
  <button md-button routerLink="/home">Home</button>
  <button md-button routerLink="/dashboard">Dashboard</button>
  <button md-button routerLink="/profile">Profile</button>
  <button md-button routerLink="/posts">Posts</button>
  <button *ngIf="!user" md-button (click)="login()">
    Login
  </button>
  <button *ngIf="user" md-button (click)="logout()">
    Logout
  </button>
  <span *ngIf="user">
    {{user.displayName}}
  </span>
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
  </button>
</md-toolbar>
<md-menu #menu="mdMenu">
  <button md-menu-item routerLink="/products">Products</button>
  <button md-menu-item routerLink="/dashboard">Dashboard</button>
  <button md-menu-item routerLink="/profile">Profile</button>
</md-menu>