<footer>
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a [routerLink]="home">
            Home
          </a>
        </li>
        <li>
          <a href="#">
            Company
          </a>
        </li>
        <li>
          <a href="#">
            Portfolio
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; {{dt | date: 'yyyy'}} <a href="#">Lucas Nascimento</a>, made with love for a better web
    </p>
  </div>
</footer>
